{% extends "base.html" %}

{% block content %}

{% set data = data %}
{% set login = login %}



<h1> Привет, {{login}}</h1> <p style='text-align: right;margin-right: 3%'> 
{% if data!=[] %} 
<br> <h2> Ваша корзина: </h2><br>
<table class="table caption-top">
      
<tbody>
    <tr>
{% for i in data %} </tr>

    <tr>
      <td><h2>{{i[0]}}</h2>
      	<a href="http://127.0.0.1:8080/{{i[3]}}{{page}}">

     <img src={{i[2]}} width="30%"></a>
     
     <h4><p style="margin-left:10%"> {{i[1]}} руб.</p></h4></td>
  

{% endfor %}
</tr>
</tbody>
</table>
{% else %} 
<br> <h2> Ваша корзина пуста </h2><br>
{% endif %}

{% endblock %}
{% block title %} {{title}} {% endblock %}
