{% extends "base.html" %}

{% block content %}

{% set data = data %}


<table class="table caption-top">

<tbody>
    <tr>
{% for i in data %}
      {% if loop.index % 4==0 %} </tr>

    <tr>
    {% else %} 
    {% endif %}
      <td><a href="https://shopflask.herokuapp.com/{{i[3]}}{{page}}">

     <img src={{i[2]}} width="100%"></a>
     <h2>{{i[0]}}</h2>
     <h4><p style="margin-left:30%"> {{i[1]}} руб.</p></h4></td>
    
  

{% endfor %}
</tr>
</tbody>
</table>
{% endblock %}
{% block title %} {{title}} {% endblock %}

