{% extends "base.html" %}

{% block content %}


<table border="0">
   <tr>
    <th href="https://shopflask.herokuapp.com/man"><h1 style="margin-left:37%">Мужчины</h1></th>
    <th href="https://shopflask.herokuapp.com/woman"><h1 style="margin-left:37%">Женщины</h1></th>
   </tr>
   <tr>
    <td><a href="https://shopflask.herokuapp.com/man">
     <img src="static/img/man-main.png" alt="man" width="100%"></td>
    <td><a href="https://shopflask.herokuapp.com/woman">
    	<img src="static/img/woman-main.png" alt="woman" width="100%"> </td>
  </tr>
</table>


{% endblock %}
{% block title %} {{title}} {% endblock %}
