{% extends "base.html" %}

{% block content %}
<a href="http://127.0.0.1:8080/shoes">
<img src='static/img/shoes.png' alt='Кроссовки'></a>
<a href="http://127.0.0.1:8080/short">
<img src='static/img/tshirt.jpg' alt='Футболки'></a>
<a href="http://127.0.0.1:8080/tshirt">
<img src='static/img/short.jpg' alt='Штаны'><br></a>
<a href="http://127.0.0.1:8080/shoes">Кроссовки</a>
<a href="http://127.0.0.1:8080/short">Футболки</a>
<a href="http://127.0.0.1:8080/tshirt">Штаны</a>
{% endblock %}
{% block title %} {{title}} {% endblock %}
