{% extends "base_order.html" %}

{% block content %}

<style>
@supports (-webkit-text-stroke: 1px black) { 
  p {
    color: transparent; 
    -webkit-text-stroke: 1px black;
  }
}
</style>
<h1 style="text-align: center"> Оформление заказа </h1>

<form style="text-align: center" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="layer1">
    
        <h1> <p><font color="white">{{ form.name.label }}</font></p></h1>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
    <div class="alert alert-danger" role="alert">
        <h2><font color="red"> {{ error }}</h2></font>
    </div>
    {% endfor %}
   
    
        <h1> <p><font color="white">{{ form.surname.label }}</font></p></h1>
        {{ form.surname(class="form-control") }}<br>
        {% for error in form.surname.errors %}
    <div class="alert alert-danger" role="alert">
        <h2><font color="red"> {{ error }}</h2></font>
    </div>
    {% endfor %}

    <h1> <p><font color="white">{{ form.mobile.label }}</font></p></h1>
        {{ form.mobile(class="form-control") }}<br>
        {% for error in form.mobile.errors %}
    <div class="alert alert-danger" role="alert">
        <h2><font color="red"> {{ error }}</h2></font>
    </div>
    {% endfor %}
   
    
        <h1> <p><font color="white">{{ form.address.label }}</font></p></h1>
        {{ form.address(class="form-control") }}<br>
        {% for error in form.address.errors %}
    <div class="alert alert-danger" role="alert">
        <h2><font color="red"> {{ error }}</h2></font>
    </div>
    {% endfor %}

    <h1> <p><font color="white">{{ form.city.label }}</font></p></h1>
        {{ form.city(class="form-control") }}<br>
        {% for error in form.city.errors %}
    <div class="alert alert-danger" role="alert">
        <h2><font color="red"> {{ error }}</h2></font>
    </div>
    {% endfor %}
   
    
        <h1> <p><font color="white">{{ form.region.label }}</font></p></h1>
        {{ form.region(class="form-control") }}<br>
        {% for error in form.region.errors %}
    <div class="alert alert-danger" role="alert">
        <h2><font color="red"> {{ error }}</h2></font>
    </div>
    {% endfor %}

    <h1> <p><font color="white">{{ form.postcode.label }}</font></p></h1>
        {{ form.postcode(class="form-control") }}<br>
        {% for error in form.postcode.errors %}
    <div class="alert alert-danger" role="alert">
        <h2><font color="red"> {{ error }}</h2></font>
    </div>
    {% endfor %}
   
    
        <h1> <p><font color="white">{{ form.country.label }}</font></p></h1>
        {{ form.country(class="form-control") }}<br>
        {% for error in form.country.errors %}
    <div class="alert alert-danger" role="alert">
        <h2><font color="red"> {{ error }}</h2></font>
    </div>
    {% endfor %}

    <br>
     {{ form.submit(type="submit", class="btn btn-primary") }}

</div>
</form>

{% endblock %}
{% block title %} {{title}} {% endblock %}
