{% extends "base.html" %}

{% block content %}
{% set data = data[0] %}

<button><a href="http://127.0.0.1:8080/{{prev}}" class="btn"> Назад </a></button>
<table border="0">
  <tr>
    <th>
      <h2 style="margin-left:37%">
     <img src="{{data[3]}}" width="130%"></h2>
    </th>
     <th><h2 style="margin-left:100%">{{data[0]}}</h2><br>
     	<h4 style="margin-left:100%">{{data[1]}} руб.</h4><br>
     	<form style="text-align: center;margin-left:100%" method="post" novalidate>
        {{form.sost}}
      
      <h4 style="margin-left:100%">
        <a href="http://127.0.0.1:8080/upd{{data[4]}}{{prev}}0" class="btn">
        {{like}}
      </a></h4>
      <button type="submit" style="margin-left: 10%"> <h4>{{carted}} </h4></button></form><br><br>
      
    <br>
	</th>
  </tr>
</table>





{% endblock %}
{% block title %} {{title}} {% endblock %}

