{% extends "base.html" %}

{% block content %}

{% set data = data %}


<table class="table caption-top">
    <thead>
      <tr>
{% for i in data %}
      <th scope="col">{{i[0]}}</th>
{% endfor %}
</tr>
</thead>
<tbody>
    <tr>
{% set с = "ААААААААААА" %}
{% for i in data %}
      
      <td><a href="http://127.0.0.1:8080/man">

     <img src={{i[2]}} width="100%"></a>{{c}}
     <p style="margin-left:42%"> {{i[1]}} руб.</td></p>
    
  

{% endfor %}
</tr>
</tbody>
</table>
{% endblock %}
{% block title %} {{title}} {% endblock %}

