{% extends "base.html" %}

{% block content %}


<table border="0">
   <tr>
    <th>
      <h2 style="margin-left:37%">Низ</h2>
      <a href="http://127.0.0.1:8080/man">
     <img src="static/img/pants-woman.png" width="100%"></th>
     <th><h2 style="margin-left:37%">Верх</h2>
    <a href="http://127.0.0.1:8080/woman">
    	<img src="static/img/top-woman.png" width="100%"> </th>
    </tr>
    <td>
      <h2 style="margin-left:37%">Обувь</h2>
      <a href="http://127.0.0.1:8080/man">
     <img src="static/img/shoes-woman.png"  width="100%"></td>
    <td>
      <h2 style="margin-left:37%">Аксессуары</h2>
      <a href="http://127.0.0.1:8080/womanshoes">
      <img src="static/img/accessories-women.png"  width="100%"> </td>
  </tr>
</table>


{% endblock %}
{% block title %} {{title}} {% endblock %}
